$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #4e4e4e;
$font-color: #000000;
$white: #fff;

body {
  background-color: $white;
  color: $font-color;
}

.col-xs-4 {
  font-size: 50px;
  color: black;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

div[data-id="1"], div[data-id="7"] {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

div[data-id="3"], div[data-id="5"] {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div[data-id="4"]{
  border: 2px solid black;
}

.wrapper {
  display: inline;
  float:left;
}

//Buttons

#sign-in {

}

#changepw {
visibility: hidden;
}
#sign-out {
visibility: hidden;
}

#start-game {
visibility: hidden;
}

#get-games {
visibility: hidden;
}

#get-game {
visibility: hidden;
}

#auth-message {
  display: block;
  text-align: center;
  font-size: 30px;
  visibility: visible;
}

#container {
  width: 400px;
  height: 400px;
  display: block;
  margin: 25px auto;
  position: relative;
  visibility: hidden;
}

#message {
  display: block;
  text-align: center;
  font-size: 30px;
  visibility: hidden;
}

#restart {
  visibility: hidden;
}
